<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Projects/Shoppinng/ShoppingSiteAutomation/src/test/java/com/practice/Shopping/Registration.java">
        <parameter name="browser" value="LOCAL_CHROME"/>
        <classes>
            <class name="com.practice.shopping.Registration">
                <methods>
                    <include name="logInClick"/>
                    <include name="registration"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Projects/Shoppinng/ShoppingSiteAutomation/src/test/java/com/practice/Shopping/LogIn.java">
        <parameter name="browser" value="LOCAL_CHROME"/>
        <parameter name="browser" value="LOCAL_FIREFOX"/>
        <classes>
            <class name="com.practice.shopping.LogInTest">
                <methods>
                    <include name="logInClick"/>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Projects/Shoppinng/ShoppingSiteAutomation/src/test/java/com/practice/Shopping/AddToCart.java">
        <parameter name="browser" value="LOCAL_CHROME"/>
        <classes>
            <class name="com.practice.shopping.AddToCart">
                <methods>
                    <include name="addItemsToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>